{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management - Books</title>
    <link rel="stylesheet" href="{% static 'css/bookList.css' %}">
    {% csrf_token %}
</head>
<body>
    {% include 'header.html' %}
    <div class="book-table">
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>Identifier</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for member in member_list %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.identifier }}</td>
                    <td><a href="{% url 'viewMember' member_id=member.id %}" class="view-button">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'footer.html' %}
</body>
</html>
